<ion-header>

  <ion-navbar>
    <ion-title>合 同 订 单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-div">
  <div class="weui-tab">
    <div class="weui-navbar">
      <div class="weui-navbar__item" [ngClass]="{'weui-bar__item_on': contractState == 'execute'}" tappable
           (click)="setContractState('execute')">
        执行中(3)
      </div>
      <div class="weui-navbar__item" [ngClass]="{'weui-bar__item_on': contractState == 'close'}" tappable
           (click)="setContractState('close')">
        已关闭(1)
      </div>
      <div class="weui-navbar__item" [ngClass]="{'weui-bar__item_on': contractState == 'all'}" tappable
           (click)="setContractState('all')">
        所有(4)
      </div>
    </div>
    <div class="weui-tab__panel">
      <!-- 执行中 -->
      <div *ngIf="contractState == 'execute'">
        <div class="weui-panel" tappable (click)="goToContractDetail()">
          <!--<div class="weui-panel__hd">文字列表附来源</div>-->
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">沙钢12月铁矿石运输协议</h4>
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:铁矿石</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:10000吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:塔哈罗</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:1804</div>
                  </div>
                </div>
              </div>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">生效日期:</li>
                <li class="weui-media-box__info__meta">2017.12.01</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">合同状态:</li>
                <li class="weui-media-box__info__meta">执行中</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="weui-panel" tappable (click)="goToContractDetail()">
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">沙钢11月铁矿石运输协议</h4>
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:铁矿石</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:10000吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:塔哈罗</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:1804</div>
                  </div>
                </div>
              </div>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">生效日期:</li>
                <li class="weui-media-box__info__meta">2017.11.01</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">合同状态:</li>
                <li class="weui-media-box__info__meta">执行中</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="weui-panel" tappable (click)="goToContractDetail()">
          <!--<div class="weui-panel__hd">文字列表附来源</div>-->
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">沙钢10月铁矿石运输协议</h4>
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:铁矿石</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:10000吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:塔哈罗</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:1804</div>
                  </div>
                </div>
              </div>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">生效日期:</li>
                <li class="weui-media-box__info__meta">2017.10.01</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">合同状态:</li>
                <li class="weui-media-box__info__meta">执行中</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 已关闭 -->
      <div *ngIf="contractState == 'close'">
        <div class="weui-panel" tappable (click)="goToContractDetail()">
          <!--<div class="weui-panel__hd">文字列表附来源</div>-->
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">沙钢9月铁矿石运输协议</h4>
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:铁矿石</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:10000吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:塔哈罗</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:1804</div>
                  </div>
                </div>
              </div>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">生效日期:</li>
                <li class="weui-media-box__info__meta">2017.09.01</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">合同状态:</li>
                <li class="weui-media-box__info__meta">已关闭</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 所有 -->
      <div *ngIf="contractState == 'all'">
        <div class="weui-panel" tappable (click)="goToContractDetail()">
          <!--<div class="weui-panel__hd">文字列表附来源</div>-->
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">沙钢12月铁矿石运输协议</h4>
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:铁矿石</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:10000吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:塔哈罗</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:1804</div>
                  </div>
                </div>
              </div>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">生效日期:</li>
                <li class="weui-media-box__info__meta">2017.12.01</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">合同状态:</li>
                <li class="weui-media-box__info__meta">执行中</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="weui-panel" tappable (click)="goToContractDetail()">
          <!--<div class="weui-panel__hd">文字列表附来源</div>-->
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">沙钢11月铁矿石运输协议</h4>
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:铁矿石</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:10000吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:塔哈罗</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:1804</div>
                  </div>
                </div>
              </div>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">生效日期:</li>
                <li class="weui-media-box__info__meta">2017.11.01</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">合同状态:</li>
                <li class="weui-media-box__info__meta">执行中</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="weui-panel" tappable (click)="goToContractDetail()">
          <!--<div class="weui-panel__hd">文字列表附来源</div>-->
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">沙钢10月铁矿石运输协议</h4>
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:铁矿石</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:10000吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:塔哈罗</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:1804</div>
                  </div>
                </div>
              </div>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">生效日期:</li>
                <li class="weui-media-box__info__meta">2017.10.01</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">合同状态:</li>
                <li class="weui-media-box__info__meta">执行中</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="weui-panel" tappable (click)="goToContractDetail()">
          <!--<div class="weui-panel__hd">文字列表附来源</div>-->
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">沙钢9月铁矿石运输协议</h4>
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:铁矿石</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:10000吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:塔哈罗</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:1804</div>
                  </div>
                </div>
              </div>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">生效日期:</li>
                <li class="weui-media-box__info__meta">2017.09.01</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">合同状态:</li>
                <li class="weui-media-box__info__meta">已关闭</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
