<ion-header>

  <ion-navbar>
    <ion-title>合 同 详 情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-div">
  <div class="weui-cells__title weui-cells__title_contract_no">合同编号：{{contract.contractNo}}</div>
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <p>
        <label class="weui-form-preview__label">合同名称</label>
        <span class="weui-form-preview__value">{{contract.contractName}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">流向</label>
        <span class="weui-form-preview__value">{{contract.startPortStr}} - {{contract.endPortStr}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">船名</label>
        <span class="weui-form-preview__value weui-form-preview__value_ship" tappable
              (click)="goToShipBaseInfo(contract.shipName)">{{contract.shipNameStr}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">货名</label>
        <span class="weui-form-preview__value">{{contract.cargoCname}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">货量</label>
        <span class="weui-form-preview__value">{{contract.loadsTon|number:'1.2-2'}}吨</span>
      </p>
      <p>
        <label class="weui-form-preview__label">有效日期</label>
        <span class="weui-form-preview__value">{{contract.startDate|date:'yyyy.MM.dd'}} - {{contract.endDate|date:'yyyy.MM.dd'}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">是否包干价</label>
        <span class="weui-form-preview__value">{{contract.isLump == 1?'是':'否'}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">运价</label>
        <span class="weui-form-preview__value">¥{{contract.trasportPrice|number:'1.2-2'}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">状态</label>
        <span class="weui-form-preview__value">{{contract.excuteStatus==1?'执行中':'已关闭'}}</span>
      </p>
    </div>
  </div>
  <div class="weui-cells__title">订单信息</div>
  <div class="weui-panel" *ngIf="orderList.length < 1">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <div class="weui-media-box__desc">
          未查询到相关信息
        </div>
      </div>
    </div>
  </div>
  <div class="weui-panel" *ngFor="let order of orderList" tappable (click)="goToOrderDetail(order.id)">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <div class="weui-media-box__desc">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <div class="placeholder">货名:{{order.cargoNameStr}}</div>
            </div>
            <div class="weui-flex__item">
              <div class="placeholder">货量:{{order.amount|number:'1.2-2'}}吨</div>
            </div>
          </div>
          <div class="weui-flex weui-flex-margin-top">
            <div class="weui-flex__item">
              <div class="placeholder">起始地:{{order.startPlaceStr}}</div>
            </div>
            <div class="weui-flex__item">
              <div class="placeholder">目的地:{{order.endPlaceStr}}</div>
            </div>
          </div>
          <div class="weui-flex weui-flex-margin-top">
            <div class="weui-flex__item">
              <div class="placeholder" *ngIf="order.auditStatus == 1">状态:未提交</div>
              <div class="placeholder" *ngIf="order.auditStatus == 2">状态:待审核</div>
              <div class="placeholder" *ngIf="order.auditStatus == 3">状态:待客户确认</div>
              <div class="placeholder" *ngIf="order.auditStatus == 4">状态:待推送</div>
              <div class="placeholder" *ngIf="order.auditStatus == 5">状态:在途</div>
              <div class="placeholder" *ngIf="order.auditStatus == 6">状态:待收货</div>
              <div class="placeholder" *ngIf="order.auditStatus == 7">状态:完成</div>
              <div class="placeholder" *ngIf="order.auditStatus == -1">状态:退回</div>
            </div>
            <!--<div class="weui-flex__item">-->
            <!--<div class="placeholder"></div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-form-preview__ft" *ngIf="pager.currPageNo < pager.totalPageCount">
    <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0)" tappable
       (click)="doInfinite()">点 击 加 载 更 多</a>
  </div>
  <div class="weui-msg__extra-area" *ngIf="pager.currPageNo == pager.totalPageCount">
    <div class="weui-footer">
      <p class="weui-footer__text">---- 到底了 ----</p>
    </div>
  </div>
</ion-content>
