<ion-header>
  <ion-navbar>
    <ion-title>物流询价详情</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="container-div">
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <p>
        <label class="weui-form-preview__label">询价时间</label>
        <span class="weui-form-preview__value">{{enquiry.requestTime|date:'yyyy.MM.dd HH:mm'}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">询价内容</label>
        <span class="weui-form-preview__value">{{enquiry.content}}</span>
      </p>
      <!--<p>-->
      <!--<label class="weui-form-preview__label">询价人</label>-->
      <!--<span class="weui-form-preview__value">张经理</span>-->
      <!--</p>-->
    </div>
  </div>


  <div class="weui-cells__title weui-cells__title_order_no" text-center>回复内容详情</div>
  <div *ngIf="enquiryReplyList.length == 0" class="weui-panel panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <div class="weui-media-box__desc">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <div class="placeholder">暂无回复</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let reply of enquiryReplyList;let itemIndex = index" class="weui-panel"
       [ngClass]="{'weui-panel-first':itemIndex == 0}">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <div class="weui-media-box__desc">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <div class="placeholder">{{reply.replyInfo}}</div>
            </div>
          </div>
          <div class="weui-flex weui-flex-margin-top">
            <div class="weui-flex__item">
              <div class="placeholder">{{reply.replyUserStr}}</div>
            </div>
          </div>
          <div class="weui-flex weui-flex-margin-top">
            <div class="weui-flex__item">
              <div class="placeholder">{{reply.replyTime|date:'yyyy-MM-dd HH:mm'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-msg__extra-area" *ngIf="pager.currPageNo == pager.totalPageCount">
    <div class="weui-footer">
      <p class="weui-footer__text">---- 到底了 ----</p>
    </div>
  </div>
  <ion-infinite-scroll *ngIf="pager.currPageNo < pager.totalPageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
