page-logistics-task-attachment {
  @import "../../theme/weui.min";

  .container-div {
    background-color: #efeeee;
  }

  .photo-cont-wrap {
    width: 100%;
    height: auto;
  }
  .photo-cont {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
  }
  .photo-cont .photo-cont-list {
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
  }
  .photo-cont .photo-cont-list a img {
    border: 1px solid #cacaca;
    border-radius: 10px;
  }

  //.weui-msg__extra-area {
  //  margin-top: 10px;
  //  margin-bottom: 0px;
  //  padding-bottom: 10px;
  //  position: relative;
  //  left: auto;
  //  bottom: auto;
  //  width: 100%;
  //  text-align: center
  //}
}
