<ion-header>

  <ion-navbar>
    <ion-title>物流任务附件信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="container-div">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="松开刷新"
      refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="weui-panel" *ngIf="attachmentList.length < 1">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <div class="weui-media-box__desc">
          未查询到相关信息
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="attachmentList && attachmentList.length > 0" class="photo-cont-wrap">
    <ul class="photo-cont" [ngStyle]="setAttachmentPhotoGalleryStyle()">
      <li class="photo-cont-list" [ngStyle]="setAttachmentPhotoStyle()" *ngFor="let attachment of attachmentList;">
        <a href="javascript:void(0)">
          <img [ngStyle]="setAttachmentPhotoStyle()" tappable
               (click)="showAttachmentPhoto(attachment.attachmentPicBase64Str)"
               src="{{attachment.attachmentPicBase64Str}}"/>
        </a>
      </li>
    </ul>
  </div>

  <div class="weui-msg__extra-area" *ngIf="pager.currPageNo == pager.totalPageCount">
    <div class="weui-footer">
      <p class="weui-footer__text">---- 到底了 ----</p>
    </div>
  </div>
  <ion-infinite-scroll *ngIf="pager.currPageNo < pager.totalPageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
