page-modify-phone {
  @import "../../theme/weui.min";
  //解决WeUI表单顶部间隙
  .weui-cells_form{
    margin-top: 0px;
  }
  //解决手机验证码表单高度不对齐
  .weui-cell__ft{
    height: 45px;
    padding-top: 5px;
  }

}
