.ion-ios-home-page:before {
  content: url("../assets/imgs/ion-ios-home-page.svg");
}

.ion-ios-home-page-outline:before {
  content: url("../assets/imgs/ion-ios-home-page-outline.svg");
}

.ion-ios-my-message:before {
  content: url("../assets/imgs/ion-ios-my-message.svg");
}

.ion-ios-my-message-outline:before {
  content: url("../assets/imgs/ion-ios-my-message-outline.svg");
}

.ion-ios-user-info:before {
  content: url("../assets/imgs/ion-ios-user-info.svg");
}

.ion-ios-user-info-outline:before {
  content: url("../assets/imgs/ion-ios-user-info-outline.svg");
}

.ion-ios-user-approve:before {
  content: url("../assets/imgs/ion-ios-user-approve.svg");
}

.ion-ios-check-update:before{
  content: url("../assets/imgs/ion-ios-check-update.svg");
}

.ion-ios-user-mobie:before{
  content: url("../assets/imgs/ion-ios-user-mobie.svg");
}

.ion-ios-user-password:before{
  content: url("../assets/imgs/ion-ios-user-password.svg");
}

.ion-ios-user-setting:before{
  content: url("../assets/imgs/ion-ios-user-setting.svg");
}

.ion-ios-user-exit:before{
  content: url("../assets/imgs/ion-ios-user-exit.svg");
}

.ion-ios-add-custom:before{
  content: url("../assets/imgs/ion-ios-add-custom.svg");
}

.ion-ios-back-custom:before{
  content: url("../assets/imgs/ion-ios-back-custom.svg");
}

.ion-ios-sure-custom:before{
  content: url("../assets/imgs/ion-ios-sure-custom.svg");
}
