<ion-header>

  <ion-navbar>
    <ion-title>订 单 详 情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="container-div">
  <div class="weui-cells__title weui-cells__title_order_no">订单编号：{{order.orderNo?order.orderNo:'无'}}</div>
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <p>
        <label class="weui-form-preview__label">起始地</label>
        <span class="weui-form-preview__value">{{order.startPlaceStr?order.startPlaceStr:'无'}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">目的地</label>
        <span class="weui-form-preview__value">{{order.endPlaceStr?order.endPlaceStr:'无'}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">一程船</label>
        <span *ngIf="!order.shipNameStr" class="weui-form-preview__value weui-form-preview__value_ship">无</span>
        <span *ngIf="order.shipNameStr" class="weui-form-preview__value weui-form-preview__value_ship" tappable
              (click)="goToShipBaseInfo(order.shipName)">{{order.shipNameStr}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">航次</label>
        <span class="weui-form-preview__value">{{order.voyage?order.voyage:'无'}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">货名</label>
        <span class="weui-form-preview__value">{{order.cargoNameStr?order.cargoNameStr:'无'}}</span>
      </p>
      <p>
        <label class="weui-form-preview__label">货量</label>
        <span class="weui-form-preview__value">{{order.amount?order.amount:0}}吨</span>
      </p>
      <p>
        <label class="weui-form-preview__label">运价</label>
        <span class="weui-form-preview__value">¥{{order.fix_price|number:'1.2-2'}}/吨</span>
      </p>
      <p>
        <label class="weui-form-preview__label">状态</label>
        <span class="weui-form-preview__value" *ngIf="order.auditStatus == 1">未提交</span>
        <span class="weui-form-preview__value" *ngIf="order.auditStatus == 2">待审核</span>
        <span class="weui-form-preview__value" *ngIf="order.auditStatus == 3">待客户确认</span>
        <span class="weui-form-preview__value" *ngIf="order.auditStatus == 4">待推送</span>
        <span class="weui-form-preview__value" *ngIf="order.auditStatus == 5">在途</span>
        <span class="weui-form-preview__value" *ngIf="order.auditStatus == 6">待收货</span>
        <span class="weui-form-preview__value" *ngIf="order.auditStatus == 7">已完成</span>
        <span class="weui-form-preview__value" *ngIf="order.auditStatus == -1">退回</span>
      </p>
    </div>
    <div class="weui-form-preview__ft" *ngIf="order.auditStatus == 3">
      <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0)" tappable
         (click)="confirm()">确 认 订 单</a>
    </div>
    <div class="weui-form-preview__ft" *ngIf="order.auditStatus >= 6&&order.isReceived != 1">
      <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0)" tappable
         (click)="confirmReceiving()">确 认 收 货</a>
    </div>
    <div class="weui-form-preview__ft"
         *ngIf="order.auditStatus >= 6&&order.isReceived == 1&&order.estimateState != 1">
      <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0)" tappable
         (click)="goToOrderEvaluate()">评 价</a>
    </div>
    <div class="weui-form-preview__ft"
         *ngIf="order.auditStatus >= 6&&order.isReceived == 1&&order.estimateState == 1">
      <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0)" tappable
         (click)="goToOrderEvaluateView()">查 看 评 价</a>
    </div>
  </div>


  <div class="weui-cells__title weui-cells__title_order_no" text-center>物流任务详情</div>
  <div class="weui-tab">
    <div class="weui-navbar">
      <div class="weui-navbar__item" [ngClass]="{'weui-bar__item_on': transportType == 'waterway'}" tappable
           (click)="setTransportType('waterway')">
        水路({{taskWaterwayList.length}})
      </div>
      <div class="weui-navbar__item" [ngClass]="{'weui-bar__item_on': transportType == 'railway'}" tappable
           (click)="setTransportType('railway')">
        铁路({{taskRailwayList.length}})
      </div>
      <div class="weui-navbar__item" [ngClass]="{'weui-bar__item_on': transportType == 'highway'}" tappable
           (click)="setTransportType('highway')">
        公路({{taskHighwayList.length}})
      </div>
      <div class="weui-navbar__item" [ngClass]="{'weui-bar__item_on': transportType == 'wharf'}" tappable
           (click)="setTransportType('wharf')">
        码头({{taskWharfList.length}})
      </div>
    </div>
    <div class="weui-tab__panel">
      <!-- 水路 -->
      <div *ngIf="transportType == 'waterway'">
        <div class="weui-panel" *ngIf="taskWaterwayList.length < 1">
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <div class="weui-media-box__desc">
                未查询到相关信息
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let task of taskWaterwayList" class="weui-panel">
          <div class="weui-panel__bd" tappable (click)="goToLogisticsTaskTrack(task.id)">
            <div class="weui-media-box weui-media-box_text">
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:{{task.cargoNameStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:{{task.loadedTon|number:'1.2-2'}}吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:{{task.shipNameStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:{{task.voyage}}</div>
                  </div>
                </div>

                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">起始港:{{task.startPortStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">目的港:{{task.endPortStr}}</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder" *ngIf="task.state == 1">状态:未执行</div>
                    <div class="placeholder" *ngIf="task.state == 2">状态:在途</div>
                    <div class="placeholder" *ngIf="task.state == 3">状态:已收货</div>
                  </div>
                  <!--<div class="weui-flex__item">-->
                  <!--<div class="placeholder"></div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0);" tappable
               (click)="goToLogisticsTaskAttachment(task.id)">查看附件</a>
          </div>
        </div>
      </div>

      <!-- 铁路 -->
      <div *ngIf="transportType == 'railway'">
        <div class="weui-panel" *ngIf="taskRailwayList.length < 1">
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <div class="weui-media-box__desc">
                未查询到相关信息
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let task of taskRailwayList" class="weui-panel">
          <div class="weui-panel__bd" tappable (click)="goToLogisticsTaskTrack(task.id)">
            <div class="weui-media-box weui-media-box_text">
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:{{task.cargoNameStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:{{task.loadedTon|number:'1.2-2'}}吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">车名:{{task.trainName}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">车次:{{task.trainNo}}</div>
                  </div>
                </div>

                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">起始地:{{task.startPlaceStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">目的地:{{task.endPlaceStr}}</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder" *ngIf="task.state == 1">状态:未执行</div>
                    <div class="placeholder" *ngIf="task.state == 2">状态:在途</div>
                    <div class="placeholder" *ngIf="task.state == 3">状态:已收货</div>
                  </div>
                  <!--<div class="weui-flex__item">-->
                  <!--<div class="placeholder"></div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0);" tappable
               (click)="goToLogisticsTaskAttachment(task.id)">查看附件</a>
          </div>
        </div>
      </div>
      <!-- 公路 -->
      <div *ngIf="transportType == 'highway'">
        <div class="weui-panel" *ngIf="taskHighwayList.length < 1">
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <div class="weui-media-box__desc">
                未查询到相关信息
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let task of taskHighwayList" class="weui-panel">
          <div class="weui-panel__bd" tappable (click)="goToLogisticsTaskTrack(task.id)">
            <div class="weui-media-box weui-media-box_text">
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:{{task.cargoNameStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:{{task.loadedTon|number:'1.2-2'}}吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">车辆数:{{task.truckAmount}}</div>
                  </div>
                </div>

                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">起始地:{{task.startPlaceStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">目的地:{{task.endPlaceStr}}</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder" *ngIf="task.state == 1">状态:未执行</div>
                    <div class="placeholder" *ngIf="task.state == 2">状态:在途</div>
                    <div class="placeholder" *ngIf="task.state == 3">状态:已收货</div>
                  </div>
                  <!--<div class="weui-flex__item">-->
                  <!--<div class="placeholder"></div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0);" tappable
               (click)="goToLogisticsTaskAttachment(task.id)">查看附件</a>
          </div>
        </div>
      </div>
      <!-- 码头 -->
      <div *ngIf="transportType == 'wharf'">
        <div class="weui-panel" *ngIf="taskWharfList.length < 1">
          <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
              <div class="weui-media-box__desc">
                未查询到相关信息
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let task of taskWharfList" class="weui-panel">
          <div class="weui-panel__bd" tappable (click)="goToLogisticsTaskTrack(task.id)">
            <div class="weui-media-box weui-media-box_text">
              <div class="weui-media-box__desc">
                <div class="weui-flex">
                  <div class="weui-flex__item">
                    <div class="placeholder">码头:{{task.wharfName}}</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">货名:{{task.cargoNameStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">货量:{{task.loadedTon|number:'1.2-2'}}吨</div>
                  </div>
                </div>
                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder">船名:{{task.shipNameStr}}</div>
                  </div>
                  <div class="weui-flex__item">
                    <div class="placeholder">航次:{{task.voyage}}</div>
                  </div>
                </div>

                <div class="weui-flex weui-flex-margin-top">
                  <div class="weui-flex__item">
                    <div class="placeholder" *ngIf="task.state == 1">状态:未执行</div>
                    <div class="placeholder" *ngIf="task.state == 2">状态:在途</div>
                    <div class="placeholder" *ngIf="task.state == 3">状态:已收货</div>
                  </div>
                  <!--<div class="weui-flex__item">-->
                  <!--<div class="placeholder"></div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:void(0);" tappable
               (click)="goToLogisticsTaskAttachment(task.id)">查看附件</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
