page-logistics-task-update {
  @import "../../theme/weui.min";
  //解决WeUI表单顶部间隙
  .weui-cells_form {
    margin-top: 0px;
  }

  .photo-cont-wrap {
    width: 100%;
    overflow-x: scroll;
  }
  .photo-cont {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
  }
  .photo-cont .photo-cont-list {
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
  }
  .photo-cont .photo-cont-list a img {
    border: 1px solid #cacaca;
    border-radius: 10px;
  }
}
