<ion-header>

  <ion-navbar>
    <ion-title>港 存</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="container-div">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="松开刷新"
      refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="weui-flex weui-flex-total-tips">
    <div class="weui-flex__item">
      <div class="placeholder">港存量：{{stockTotalCount|number:'1.2-2'}}（吨）</div>
    </div>
  </div>
  <div class="weui-flex weui-flex-title">
    <div class="weui-flex__item">
      <div class="placeholder">港口</div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">码头</div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">货名</div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">港存量(吨)</div>
    </div>
  </div>
  <div *ngIf="stockInfoList.length < 1" class="weui-flex">
    <div class="weui-flex__item">
      <div class="placeholder">未查询到相关信息</div>
    </div>
  </div>
  <div *ngFor="let stockInfo of stockInfoList" class="weui-flex" tappable (click)="goToPortStockDetail(stockInfo)">
    <div class="weui-flex__item">
      <div class="placeholder">{{stockInfo.portName}}</div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">{{stockInfo.terminalName}}</div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">{{stockInfo.cargoName}}</div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">{{stockInfo.cargoQuantity}}</div>
    </div>
  </div>
  <div class="weui-msg__extra-area" *ngIf="pager.currPageNo == pager.totalPageCount">
    <div class="weui-footer">
      <p class="weui-footer__text">---- 到底了 ----</p>
    </div>
  </div>
  <ion-infinite-scroll *ngIf="pager.currPageNo < pager.totalPageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
