<ion-header>

  <ion-navbar>
    <ion-title>货 盘</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="container-div">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="松开刷新"
      refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="weui-panel" *ngIf="cargoList.length < 1">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <div class="weui-media-box__desc">
          未查询到相关信息
        </div>
      </div>
    </div>
  </div>
  <div class="weui-panel" *ngFor="let cargo of cargoList">
    <div class="weui-panel__bd" tappable (click)="goToCargoDetail(cargo.id)">
      <div class="weui-media-box weui-media-box_text">
        <div class="weui-media-box__desc">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <div class="placeholder">起始地:{{cargo.startPlaceCname}}</div>
            </div>
            <div class="weui-flex__item">
              <div class="placeholder">目的地:{{cargo.endPlaceCname}}</div>
            </div>
          </div>
          <div class="weui-flex weui-flex-margin-top">
            <div class="weui-flex__item">
              <div class="placeholder">货名:{{cargo.cargoCname}}</div>
            </div>
            <div class="weui-flex__item">
              <div class="placeholder">货类:{{cargo.cargoTypeCname}}</div>
            </div>
          </div>
          <div class="weui-flex weui-flex-margin-top">
            <div class="weui-flex__item">
              <div class="placeholder">货量:{{cargo.amount|number:'1.0-2'}}吨</div>
            </div>
            <div class="weui-flex__item">
              <div class="placeholder">装货日期:{{cargo.loadDate| date:'yyyy.MM.dd'}}</div>
            </div>
          </div>
          <div class="weui-flex weui-flex-margin-top">
            <div class="weui-flex__item">
              <div class="placeholder">联系人员:{{cargo.linkMan}}</div>
            </div>
            <div class="weui-flex__item">
              <div class="placeholder">联系电话:{{cargo.linkTel}}</div>
            </div>
          </div>
          <div class="weui-flex weui-flex-margin-top">
            <div class="weui-flex__item">
              <div class="placeholder">发布日期:{{cargo.createTime| date:'yyyy.MM.dd'}}</div>
              <!--<div class="placeholder">{{cargo.createTime| date:'yyyy.MM.dd'}}</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-msg__extra-area" *ngIf="pager.currPageNo == pager.totalPageCount">
    <div class="weui-footer">
      <p class="weui-footer__text">---- 到底了 ----</p>
    </div>
  </div>
  <ion-infinite-scroll *ngIf="pager.currPageNo < pager.totalPageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
