<ion-header>

  <ion-navbar>
    <ion-title>物流任务跟踪</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div data-mohe-type="kuaidi_new" class="g-mohe " id="mohe-kuaidi_new">
    <div id="mohe-kuaidi_new_nucom">
      <div class="mohe-wrap mh-wrap">
        <div class="mh-cont mh-list-wrap mh-unfold">
          <div class="mh-list">
            <ul>
              <li *ngIf="trackList.length < 1">
                <p>暂无物流信息,请耐心等待...</p>
                <!--<span class="before"></span><span class="after"></span>-->
              </li>

              <li *ngFor="let track of trackList;let isfirst = first" [ngClass]="{'first': isfirst == true}">
                <p>{{track.trackTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                <p>{{track.stateName}}</p>
                <p>{{track.taskDesc}}</p>
                <span class="before"></span><span class="after"></span><i *ngIf="isfirst == true"
                                                                          class="mh-icon mh-icon-new"></i>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
