<ion-header>

  <ion-navbar>
    <ion-title>物流任务跟踪</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div data-mohe-type="kuaidi_new" class="g-mohe " id="mohe-kuaidi_new">
    <div id="mohe-kuaidi_new_nucom">
      <div class="mohe-wrap mh-wrap">
        <div class="mh-cont mh-list-wrap mh-unfold">
          <div class="mh-list">
            <ul>
              <!--<li *ngFor="let track of trackList;let isfirst = first" [ngClass]="{'first': isfirst == true}">-->
              <!--<p>{{track.trackTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>-->
              <!--<p>{{track.taskDesc}}</p>-->
              <!--<span class="before"></span><span class="after"></span><i *ngIf="isfirst == true"-->
              <!--class="mh-icon mh-icon-new"></i>-->
              <!--</li>-->

              <li class="first">
                <p>2018.05.07 09:30:23</p>
                <p>抵长江港锚地 预计12：50抵张家港口</p>
                <span class="before"></span><span class="after"></span><i class="mh-icon mh-icon-new"></i>
              </li>

              <li>
                <p>2018.05.06 19:30:23</p>
                <p>抵长江港锚地 预计20：50抵张家港口</p>
                <span class="before"></span><span class="after"></span>
              </li>

              <li>
                <p>2018.05.05 10:30:23</p>
                <p>抵长江港锚地 预计12：50抵张家港口</p>
                <span class="before"></span><span class="after"></span>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
