<ion-header>

  <ion-navbar>
    <ion-title>{{noticeType}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="container-div">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="松开刷新"
      refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let notice of noticeList;let itemIndex = index" class="weui-cells"
       [ngClass]="{'weui-cells-first':itemIndex == 0}">
    <a class="weui-cell weui-cell_access" href="javascript:void(0);" tappable (click)="goToNoticeDetail(notice.id)">
      <div class="weui-cell__bd">
        <p>{{notice.title}}</p>
      </div>
      <div class="weui-cell__ft weui-cell__ft-time">{{notice.reportTime|date:'yyyy.MM.dd'}}</div>
    </a>
  </div>
  <div class="weui-msg__extra-area" *ngIf="pager.currPageNo == pager.totalPageCount">
    <div class="weui-footer">
      <p class="weui-footer__text">---- 到底了 ----</p>
    </div>
  </div>
  <ion-infinite-scroll *ngIf="pager.currPageNo < pager.totalPageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
